.welcome-vermas-producto{
    background: #58E3E4;
    border-radius: 5px;     
    
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;    

    color: #FFFFFF;
 
    padding: 1em 1em; 

    position:absolute; 
	margin-left: 65%;
    margin-top: -35%;
} 

.welcome-titulo{
    font-family:  'Poppins' , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    /* gris nikel */

    color: #697172;
}
.welcome-precio{
    /* Heading 2 */

font-family:  'Poppins' , sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

text-align: right;
letter-spacing: 0.005em;

/* negro onyx */

color: #040006;
}

.welcome-color1{
    background: #000000;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.welcome-color2{
    background:#828282;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.welcome-color3{
    background: #FFFFFF;
    /* gris nikel */

    border: 1px solid #697172;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.welcome-imagen{
    
    height:330px;
}

.lineaMenu {
    display: inline-block !important;
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    /* identical to box height, or 22px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    
    /* gris nikel */
    
    color: #697172;
}
.lineaMenu:hover {
     cursor: pointer;
    font-size: 14px;
    
    
    color: #58E3E4;
}

.lineaMenu-activo{
    cursor: pointer;
    display: inline-block !important;
font-family: 'Poppins' , sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 180%;
/* identical to box height, or 25px */

display: flex;
align-items: center;
letter-spacing: 0.5px;

/* --c-text */

color: #1D1F22;

}